
#root {
  /* Here we set the margin and padding  0 */
  margin: none; 
  padding: none;
}
nav{
  height: 60px;
  background-color:#17181C;
  text-align: center;
  color: white;
}

.navbar-brand{
  display: flex;
  margin-top: -0.5%;
  justify-content: flex-start;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.position-column {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Divide el contenedor en dos columnas de igual ancho */
  grid-gap: 20px;
}

.navbar-menu {
  display: flex;
}

.column {
  padding: 10px;
  background-color: white;
  
}

.column1 {
  order: 1; /* Cambiar el orden de la columna 1 */
  flex:1;
  background-color:white;
  flex-basis: 600%;
  margin-left: 2%;
}

.column1.show {
  order: 1; /* Cambiar el orden de la columna 1 */
  flex:1;
  background-color:white;
  flex-basis: 70%;
  margin-left: -5%;

}

.column2 {
  order: 2; /* Cambiar el orden de la columna 2 */
  flex-basis: 30%;
  margin-top: 13%;
  margin-left: -10%;
}

.navbar-toggler {
  display: flex;
  align-items: flex-end;
  margin-top: -7%;
  margin-left: 90%;
}


.class-table{
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

table {
  border: 2px solid forestgreen;
  width: 100%;
  height: 200px;
}

th {
  border-bottom: 2px solid black;
}

td {
  text-align: center;
}

.container-button {
  padding: 1rem;
}

.button-add {
  margin-left: 94%;
  margin-top: -5%;
  width: 80px;
  height: 35px;
  background-color: rgb(33, 33, 219);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product{
  margin-left: -2.5%;
  margin-top: -5%;
}

.button-eliminar-editar{
  display: flex;
  margin-left: 40%;
  padding: 1rem;
}

.color{
  background-color: transparent;
  border-color: transparent;
  color: blue;
}

@media (max-width: 768px) {
  
  .container {
   /* Mostrar una columna en vista responsive */
   display: flex;
  }

  .button-add {
    margin-left: 80%;
    margin-top: -5%;
    width: 80px;
    height: 35px;
  }
  .navbar-menu {
    flex-direction: column; /* Alinear los elementos verticalmente */
    padding: 10px;
  }
  .navbar-brand{
    display: flex;
    margin-top: -0.5%;
    justify-content: flex-start;
  }
  .navbar-menu.show {
    display: flex; /* Mostrar el menú cuando se muestra el menú */
  }

  .column1 {
    display: block; /* mostrar la columna 2 en vista responsive */
    grid-column: 1;
  }
  
  .column2 {
    display: block; /* Mostrar la columna 1 en vista responsive */
    grid-column: 2;
  }
  
  .navbar-toggler {
    display: block; /* Mostrar el botón del menú en vista responsive */
  }

  .navbar-menu.show .column2 {
    display: block; /* Mostrar la columna 2 cuando se muestra el menú */
  }
  
  .navbar-menu.show .column1 {
    display: none; /* Ocultar la columna 1 cuando se muestra el menú */
  }
}

@media (min-width: 769px) {
  .column1,
  .column2 {
    display: block; /* Mostrar ambas columnas en pantallas más grandes */
  }

  .container {
    flex-direction: row;
  }
  .navbar-toggler {
    display: none; /* oculta el botón del menú en vista responsive mayor a 769px */
  }
}