
#root {
  /* Here we set the margin and padding  0 */
  margin: none; 
  padding: none;
}

.btn {
  margin-left: 71%;
}

nav{
  height: 60px;
  background-color:#17181C;
  color: white;
  align-items: center;
}

img{
  display: flex;
  margin-top: 0.5%;
  justify-content: flex-start;
}
.h1{
  margin-top: -1%;
  display: flex;
  margin-left: 2%;
}

.navbar-brand{
  justify-content: flex-start;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.position-column {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Divide el contenedor en dos columnas de igual ancho */
  grid-gap: 20px;
  height: 100vh;
  overflow-y: auto;
}

.navbar-menu {
  display: flex;
}



.column1 {
  order: 1; /* Cambiar el orden de la columna 1 */
  flex:1;
  background-color:white;
  flex-basis: 600%;
  margin-left: -20%;
}

.column1.show {
  order: 1; /* Cambiar el orden de la columna 1 */
  background-color:white;
  flex-basis: 70%;
  margin-left: -25%;

}

.column2 {
  position: relative;
  display: grid;
  order: 2; /* Cambiar el orden de la columna 2 */
  flex-basis: 30%;
  margin-left: -25%;
  align-items: center;
  padding: 2rem;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%;
  margin-left: 90%;
}


.product{
  margin-left: -2.5%;
  margin-top: -5%;
}

.title-h1{
  display: flex;
  margin-left: 25%;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: -3.33em;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  /* font-weight: bold; */
  margin-top: 9%;
}


@media (max-width: 1000px) {
  
  .container {
   /* Mostrar una columna en vista responsive */
   display: flex;
  }

  .button-add {
    margin-left: 80%;
    margin-top: -5%;
    width: 80px;
    height: 35px;
  }
  .navbar-menu {
    flex-direction: column; /* Alinear los elementos verticalmente */
    padding: 10px;
  }
  .navbar-brand{
    display: flex;
    margin-top: -3%;
    justify-content: flex-start;
  }
  .h1{
    margin-top: 3%;
    margin-left: -1%;
  }
  .navbar-menu.show {
    display: flex; /* Mostrar el menú cuando se muestra el menú */
  }

  .column1 {
    display: block; /* mostrar la columna 2 en vista responsive */
    grid-column: 1;
  }
  
  .column2 {
    display: block; /* Mostrar la columna 1 en vista responsive */
    grid-column: 2;
  }
  
  .navbar-toggler {
    display: block; /* Mostrar el botón del menú en vista responsive */
    margin-top: -11%;
    margin-left: 87%;
  }

  .navbar-menu.show .column2 {
    display: block; /* Mostrar la columna 2 cuando se muestra el menú */
  }
  
  .navbar-menu.show .column1 {
    display: none; /* Ocultar la columna 1 cuando se muestra el menú */
  }
}

@media (min-width: 1001px) {
  .column1,
  .column2 {
    display: block; /* Mostrar ambas columnas en pantallas más grandes */
  }

  .container {
    flex-direction: row;
  }

  .navbar-toggler {
    display: none; /* Mostrar el botón del menú en vista responsive */
  }
 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf9f6;
}
